* {
  margin: 0px;
  padding: 0px;
}

html {
  background-image: url("https://micah-rose.github.io/rosegoldwebdesign/1430-midterm/img/bkgrnd-2.jpg");
  font-family: "Open Sans Condensed", sans-serif;
}

nav {
  margin-top: -250px;
  margin-bottom: 150px;
  margin-right: 50px;
  text-align: right;
}

nav ul li a,
nav ul li {
  display: inline;
  padding: 10px 10px;
}

nav ul li a {
  text-decoration: none;
  font-size: 30px;
  color: #37b4d5;
  background-color: white;
  border-radius: 10%;
}

nav ul li a:hover {
  color: #ba8488;
  font-size: 250%;
  transition: 250ms;
}

img {
  width: 400px;
  height: 400px;
  float: right;
  border-radius: 50%;
  margin: 20px 15px;
}

div[class^="group-"] div {
  clear: right;
  overflow: hidden;
  margin: 15px;
}

h1 {
  font-size: 100px;
  color: #342213;
  text-align: right;
  margin: 60px 50px;
}

h2 {
  font-size: 60px;
  margin: 10px;
  color: white;
  margin-left: 15px;
}

p {
  font-size: 30px;
  color: white;
  width: 700px;
  margin-top: 70px;
  margin-left: 10px;
  margin-right: 15px;
}

.main-content {
  background-color: #ba8488;
  margin: 120px 50px 20px 50px;
  text-align: justify;
  border: 10px solid #37b4d5;
}

.group-1 div,
.group-3 div {
  display: none;
}
