* {
  padding: 0px;
  margin: 0px;
}

html {
  background-image: url("/js-birthday/img/birthday-bkgrnd.jpg");
  background-size: cover;
  font-family: "Quicksand", sans-serif;
}

h2 {
  margin: 5px;
  font-size: 80px;
  color: whitesmoke;
  text-align: center;
  text-shadow: 2px 2px darkmagenta;
}

h1 {
  margin: 5px;
  font-size: 40px;
}

p {
  margin: 25px;
  font-size: 23px;
  color: orchid;
  text-align: justify;
}

.zodiac-info {
  margin: 20px 120px;
  padding: 15px;
  text-align: justify;
  background-color: whitesmoke;
  border: 12px solid teal;
}
